{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div class="container-fluid hero-image-container">
        <div class="row h-100">   
            <div class="col-7 com-md-6 my-auto text-white">
                <h1>
                   Experience a Different Whiskey Each Month Before the Angel's Take it 
                </h1>
                <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-orange rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

