@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

header {
    background-color: #282828;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #21853f;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    border: 1px solid gray;
}

/* HOMEPAGE */
 .hero-image-container {
    background: url('/media/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
 }

 /* BUTTONS */

 .btn-orange {
    color: #000000;
    background-color: #ff9d37;
    border-color: #ff9d37;
    padding: 10px;
}

 .btn-orange:hover {
     color: #ff9d37;
     background-color: #fff;
}

.button-center {
    text-align: center;
    margin-top: 10px;
}

/* Whiskey Club Cards */

@media (min-width: 768px) {
    .clubs-image {
    height: 20vw;
    align-self: center;
    }  
}

/* Club Selected */

.club-selected-image {
    width: 100%;    
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: black;
	z-index: -1;
}

.container-charcoal {
    background-color: #232323;
}

@media (min-width: 768px) { 
.whiskey-package-container {
    background: url('/media/whiskey-package.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height:100vh;
    }
    .whiskey-package-row {
        height: 100%;
    }
}

@media (max-width: 767.98px){ 
    
    .whiskey-package-row {
        margin-top: 67px;
        height: 0;

    }
    .whiskey-package-container {
        background: url('/media/whiskey-package.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: 85vh;
    }
}

