@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

header {
    background-color: #282828;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #21853f;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    border: 1px solid gray;
}

/* HOMEPAGE */
 .hero-image-container {
    background: url('/media/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
 }

 /* BUTTONS */

 .btn-orange {
    color: #000000;
    background-color: #ff9d37;
    border-color: #ff9d37;
    padding: 10px;
}

 .btn-orange:hover {
     color: #ff9d37;
     background-color: #fff;
}

.button-center {
    text-align: center;
    margin-top: 10px;
}

/* Whiskey Club Cards */

@media (min-width: 768px) {
    .clubs-image {
    height: 20vw;
    align-self: center;
    }  
}

/* Club Selected */

.club-selected-image {
    width: 100%;    
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: black;
	z-index: -1;
}

.container-charcoal {
    background-color: #232323;
}

@media (min-width: 768px) { 
.whiskey-package-container {
    background: url('/media/whiskey-package.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height:100vh;
    }
    .whiskey-package-row {
        height: 100%;
    }
}

@media (max-width: 767.98px){ 
    
    .whiskey-package-row {
        margin-top: 67px;
        height: 0;

    }
    .whiskey-package-container {
        background: url('/media/whiskey-package.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: 85vh;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

