@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

header {
    background-color: #282828;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #21853f;
    font-family: 'Montserrat', sans-serif;
}

/* HOMEPAGE */
 .hero-image-container {
    background: url('/media/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
 }

 /* BUTTONS */

 .btn-orange {
    color: #000000;
    background-color: #ff9d37;
    border-color: #ff9d37;
 }

 .btn-orange:hover {
     color: #ff9d37;
     background-color: #fff;
 }
