{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Shopping Cart-->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-uppercase mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <!--Table Headers-->
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Whiskey Club</th>
                            <th scope="col"></th>
                            <th scope="col">Subscription</th>
                            <th scope="col">Price</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!--Loop through subscription selected-->
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                        <div>
                            <img class="img-fluid rounded" src="{{ MEDIA_URL}}{{ item.club.image}}" alt="{{ item.club.name }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0">
                                <strong>
                            <p>{{ item.club.name }}</p></strong></p>
                            <p></p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'update_cart' item.club.id %}">
                                {% csrf_token %}
                                <select id="change_subscription" class="form-control" name="change_subscription">
                                    {% for sub in item.all_subs %}
                                    {% if sub.name == item.subscription.name %}
                                    <option value="{{ item.subscription.id }}" selected> {{item.subscription.name}} </option>
                                    {% else %}
                                    <option value="{{ sub.id }}">{{ sub.name }}</option>
                                    {% endif %}
                                    {% endfor%}
                                    <input type="hidden" value="{{ item.subscription.id }}" name="current_sub_id" />
                                </select>
                            </form>
                            <a class="update-sub text-info"><small>Update</small></a>
                            <a class="remove-sub text-danger float-right" id="{{ item.club.id }}" href="{% url 'delete_sub' item.club.id item.subscription.id %}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.subscription.price }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.subscription.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <!--Table footer containing price and continue shopping or checkout button-->
                    <tr>
                        <td colspan="6" class="pt-5 text-right">
                            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'clubs' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                            </a> 
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                            <i class="fas fa-lock"></i>
                            </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'clubs' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
            <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-sub').click(function(e) {
       var form = $(this).prev('.update-form');
       form.submit();
    })
    
</script>
{% endblock %}