{% extends "base.html" %}
{% load static %}




{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5">
            <h2>Choose Your Poison</h2>
            <hr class="w-50 mb-5">
            </div>
        </div>
    
        <div class="row">
            <div class="clubs-container col-10 offset-1">
                <!--RECIPE CARD DECKS-->
                <div class="row">
                 {% for club in whiskey_clubs %}
                    <div class="col-12 col-md-4 recipe-card-col">
                        <div class="card h-100">
                            <img class="card-img-top card-image-holder clubs-image" src="../media/{{ club.image }}" alt="Card image cap">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center ">{{club.name }}</h5>
                                <hr>
                                <p class="card-text">{{ club.comment }}</p>
                                <a href="{% url 'club_selected' club.id %}" class="btn btn-outline-dark mt-auto" role="button" id="btn-card">Select</a>   
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>


    </div>
{% endblock %}
