{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}


{% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Angel's Share {%block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg w-100">
            <!-- BRAND AND LOGO-->
            <a class="navbar-brand uppercase" href=""><img src="media/angels_drop_navbrand.png" alt="Angel's Share Logo"  width="200" height="75" /></a>
            <!-- HAMBURGER MENU FOR SMALLER SCREEN WIDTHS-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- NAVBAR -->
            <div class="collapse navbar-collapse" id="navbarToggler1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-right mr-2">
                    <a class="nav-link" href="#hero-section">Clubs</a>
                    </li>
                    <li class="nav-right mr-2">
                    <a class="nav-link" href="#why-visit-cork-container">How it Works</a>
                    </li>
                    <li class="nav-right mr-2">
                    <a class="nav-link" href="#map-container-sec">Gift</a>
                    </li>
                    <li class="nav-right mr-2">
                    <a class="nav-link" href="#covid-container-sec">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

    {% if messages %}
     <div class="message-container"></div>
    {% endif %}
    </header>
    
    <main>
    {% block content %}
    {% endblock %}
    </main>

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>